.gallery {
    max-width: 980px;
    min-height: 378px;
    margin: 0 auto 0 auto;

  span {
    text-transform: uppercase;
    font-family: GillSansReg;
    font-size: 25px;
    border-bottom: solid 2px #000000;
    padding-right: 50px;
    padding-bottom: 20px;
  }


  .gallery-images {
    margin-top: 50px;

    div {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
  }

   

.rowOne {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .imageOne {
        width: 489px;
        height: 187px;
        background-image: linear-gradient(
        rgba(255, 209, 64, 0.7),
        rgba(255, 209, 64, 0.7)
    ),
    url(../assets/images/gallery/1.png);
    }

    .imageTwo {
        width: 187px;
        height: 187px;
        background-image: linear-gradient(
        rgba(238, 67, 103, 0.7),
        rgba(238, 67, 103, 0.7)
    ),
    url(../assets/images/gallery/2.jpeg);

    }

    .imageThree {
        width: 265px;
        height: 187px;
        background-image: linear-gradient(
        rgba(8, 173, 105, 0.7),
        rgba(8, 173, 105, 0.7)
    ),
    url(../assets/images/gallery/3.jpg);

    }
}

.rowTwo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

    .imageFour {
        width: 603px;
        height: 306px;
        background-image: linear-gradient(
        rgba(84, 13, 110, 0.7),
        rgba(84, 13, 110, 0.7)
    ),
    url(../assets/images/gallery/4.jpg);
    }

    .imageFive {
        width: 355px;
        height: 306px;
        background-image: linear-gradient(
        rgba(59, 206, 171, 0.7),
        rgba(59, 206, 171, 0.7)
    ),
    url(../assets/images/gallery/5.png);

    }
}
}


//responsive settings
@media (max-width: 980px) {

    .gallery {
        max-width: 800px;
        height: auto;
        margin: 0 auto;
        background: lightgray;

        .rowOne {
            flex-direction: column;
            margin-bottom: 10px;
            margin: 0 auto;
    
            .imageOne {
                margin: 0 auto;
                margin-bottom: 20px;
                max-width: 100%;
            }
            .imageTwo {
                margin: 0 auto;
                margin-bottom: 20px;
                max-width: 100%;
            }
            .imageThree {
                margin: 0 auto;
                margin-bottom: 20px;
                max-width: 100%;
            }
        }
        .rowTwo {
            flex-direction: column;
            margin-bottom: 10px;
            margin: 0 auto;

            .imageFour {
                margin: 0 auto;
                margin-bottom: 20px;
                max-width: 100%;
            }
            .imageFive {
                margin: 0 auto;
                margin-bottom: 20px;
                max-width: 100%;
            }
        }
    }
}

