.quote-area {
    height: 300px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 789px;

        .quote-text {
            line-height: 22px;
            font-family: GillSansReg;
            font-style: italic;
            color: #ffd140;
        }

        .author {
            font-size: 15px;
            font-family: PTSerif-Reg;
            color: #ee4367;
            margin-bottom: 0px;
        }

        .title {
            font-family: PTSerif-Reg;
            color: #a8a8a8;
            font-size: 10px;
        }
    }
}
