* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }
  
  @font-face {
    font-family: Gill;
    src: url(../assets/fonts/GillSans.ttc);
  }
  @font-face {
    font-family: PTSerifBold;
    src: url(../assets/fonts/PTSerif-Bold.ttf);
  }
  
  @font-face {
    font-family: PTSerifBoldItalic;
    src: url(../assets/fonts/PTSerif-BoldItalic.ttf);
  }
  
  @font-face {
    font-family: PTSerif-Italic;
    src: url(../assets/fonts/PTSerif-Italic.ttf);
  }
  
  @font-face {
    font-family: PTSerif-Reg;
    src: url(../assets/fonts/PTSerif-Regular.ttf);
  }
  
  //colors
  /*
  #540D6E
  #EE4367
  #FFD140
  #3BCEAB
  #08AD69
  */